h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Legislación turística', 'main.html#page/legislacion/')
                    +navTemaItem('2', 'Importancia de la industria turística', 'main.html#page/importancia/')
                    +navTemaItem('3', 'Principios de la industria turística', 'main.html#page/principios/')
                    +navTemaItem('4', 'Incentivos tributarios', 'main.html#page/incentivos/')
                    +navTemaItem('5', 'Derechos y deberes del turista', 'main.html#page/derechos/')
                    +navTemaItem('6', 'Código de ética del turismo', 'main.html#page/codigo/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')