.container#legislacion

    .header-ecored

        h1 1. Legislación turística

    .row.mx-0

        .col-12

            p El entorno del turismo cuenta con una gran variedad de prestadores de servicios los cuales, en conjunto, hacen el todo de la oferta turística; por tal motivo, es de gran importancia que todos ellos se encuentren regulados; es decir, que estén regidos por la ley de cada país o lugar de operación. 

    br#turistica

    .header-ecored

        h2 1.1 Legislación turística

    .row.mx-0

        .col-12

            p Una empresa que ofrece servicios turísticos, que cuenta con todo lo exigido por la ley está ofreciendo calidad y, al mismo tiempo, brindando seguridad a sus clientes, por eso es de gran importancia que estas cumplan con la normatividad que se les exige. 
    
    .row.mx-0.my-4.text-center

        .col-12

            img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 80%")