.container#principios

    .header-ecored

        h1 3. Principios de la industria turística

    .row.mx-0
        
        .col-12

            p La industria turística es de gran importancia para el desarrollo de cada destino, por lo tanto, debe contar con una gran variedad de prestadores de servicios que, en conjunto, brinden a los visitantes experiencias únicas.
    
    br#generalidades

    .header-ecored.subtitulo-guion.mt-5

        h2 3.1 Generalidades

    .row.mx-0
        
        .col-12

            p El turismo aporta de manera significativa al fortalecimiento sostenible (social, cultural, económico, ambiental) del país y a las diferentes entidades territoriales. Como industria busca la productividad y competitividad del sector, y quienes desarrollan esta actividad (prestadores de servicios turísticos) deben aplicar de forma adecuada los principios que rigen la industria turística, dado los lineamientos que enmarcan el desarrollo de su economía, dinamismo y fortalecimiento.
    br

    .row.mx-0

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b A continuación, se presentan los trece principios de la industria turística, su aplicabilidad y efectos.
    
    .row.mx-0(style="background-image: url('assets/images/pages/img3.svg'); background-size: contain").justify-content-center  

        .col-8.my-5

            #carouselExampleIndicators.carousel.slide(data-ride='carousel').recuadro3
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                    li(data-target='#carouselExampleIndicators', data-slide-to='6')
                    li(data-target='#carouselExampleIndicators', data-slide-to='7')
                    li(data-target='#carouselExampleIndicators', data-slide-to='8')
                    li(data-target='#carouselExampleIndicators', data-slide-to='9')
                    li(data-target='#carouselExampleIndicators', data-slide-to='10')
                    li(data-target='#carouselExampleIndicators', data-slide-to='11')
                .carousel-inner
                    .carousel-item.active
                        .row
                            .col-12
                                p
                                    b Concertación
                                p En virtud del cual las decisiones y actividades del   sector   se   socializarán   en   acuerdos para asumir responsabilidades, esfuerzos y recursos entre los diferentes agentes comprometidos, tanto del sector estatal como del sector privado nacional e internacional para el logro de los objetivos comunes que beneficien el turismo.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Coordinación
                                p En virtud del cual las entidades públicas que integran el sector turismo actuarán en forma coordinada en el ejercicio de sus funciones.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Descentralización
                                p En virtud del cual la actividad turística es responsabilidad de los diferentes niveles del Estado en sus áreas de competencia.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Libertad de Empresa
                                p En virtud del cual, y de conformidad con lo establecido en el artículo 333 de la Constitución Política, el turismo es una industria de servicios de libre iniciativa privada, libre acceso y libre competencia, sujeta a los requisitos establecidos en la ley y en sus normas reglamentarias. Las autoridades de turismo en los niveles nacional y territorial preservarán el mercado libre, la competencia abierta y leal, así como la libertad de empresa dentro de un marco normativo de idoneidad, responsabilidad y relación equilibrada con los usuarios.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Fomento
                                p En virtud del cual el Estado protegerá y otorgará prioridad al desarrollo integral de las   actividades   turísticas,  recreacionales y en general, todo lo relacionado con esta actividad en todo el territorio nacional.        
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Facilitación
                                p En virtud del cual los distintos organismos relacionados directa o indirectamente con la actividad turística simplificarán y allanarán los trámites y procesos que el Consejo Superior de Turismo identifique como obstáculos para el desarrollo del turismo.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Desarrollo social, económico y cultural
                                p El turismo conforme al artículo 52 de la Constitución Política, es un derecho social y económico de las personas dada su contribución al desarrollo integral en el aprovechamiento del tiempo libre y en la revalorización de la identidad cultural de las comunidades.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Desarrollo sostenible
                                p El turismo se desarrolla en armonía con los recursos naturales y culturales a fin de garantizar sus beneficios a las futuras generaciones. La determinación de la capacidad de carga constituye un elemento fundamental de la aplicación de este principio.
                                p El desarrollo sostenible se aplica en tres ejes básicos: ambiente, sociedad y economía.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Calidad
                                p En virtud del  cual,  es  prioridad  optimizar la calidad de los destinos y de los servicios turísticos en todas sus áreas, con el fin de aumentar la competitividad del destino y satisfacer la demanda nacional e internacional.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Competitividad
                                p En virtud del cual, el desarrollo del turismo requiere propiciar las condiciones necesarias para el mejoramiento continuo de la industria turística, de forma que mediante el incremento de la demanda genere riqueza y fomente la inversión de capital nacional y extranjero.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Accesibilidad
                                p En virtud del cual, es deber del sector turístico propender conforme al artículo 13 de la Constitución Política, la eliminación de las barreras que impidan el uso y disfrute de la actividad turística por todos los sectores de la sociedad, incentivando la equiparación de oportunidades.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Protección al consumidor
                                p Con miras al cabal desarrollo del turismo, el consumidor será objeto de protección específica por parte de las entidades públicas y privadas.                                                                          
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next