.container#incentivos

    .header-ecored

        h1 4. Incentivos tributarios

    .row.mx-0
        
        .col-12

            p En el sector del turismo, como en cualquier otro sector económico, el gobierno logra generar incentivos a los prestadores de servicios, con el fin de incrementar los ingresos. Estos incentivos están regulados por normas, leyes y decretos estipulados que cada prestador debe aplicar según la actividad realizada. 

    .row.mx-0.my-4.text-center

        .col-12

            img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 80%")
    
    .row.mx-0

        .col-12

            p Por tal motivo, se creó la Ley de Financiamiento 1943 de 2018, la cual busca brindar incentivos en el sector del turismo, éstos, a su vez, buscan dar un trato especial a las pequeñas y medianas empresas que quieran abrir nuevos establecimientos hoteleros o realizar alguna remodelación; también aplican para los muelles turísticos, parques temáticos, operadores de ecoturismo y agroturismo. El Gobierno Nacional busca que los prestadores de servicios turísticos vean la posibilidad de invertir en Colombia en este sector; para ello cobrarán un impuesto de renta especial del 9%.

            p
                b Otro de los beneficios que otorga esta ley es que las pequeñas y medianas empresas que realicen sus actividades entorno a la economía naranja contarán con una renta de 0% por un periodo de siete años a partir del año gravable 2019.
    
    br#registro

    .header-ecored.subtitulo-guion.mt-5

        h2 4.1 Registro Nacional de Turismo (RNT)

    .row.mx-0
        
        .col-12

            p El Registro Nacional de Turismo (RNT), es un documento que cualquier prestador de servicios turísticos en Colombia debe tener, esto con el fin de realizar sus operaciones en el país de manera adecuada.

    .row.mx-0.recuadro1

        .col-12.my-4

            img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%")

        .col-12

            p
                b Inscripción del Registro Nacional de Turismo
            
            p El proceso de inscripción del Registro Nacional del Turismo, debe ser realizado por cada prestador de servicios turísticos de manera individual; es decir, si se trata de una cadena hotelera que en el país cuenta con cinco hoteles, cada uno de ellos debe de realizar la solicitud de manera independiente. Para completar este proceso, se debe cumplir con la información requerida en el formulario de inscripción.

            p
                b  La duración es de un año y este debe ser actualizado entre enero y marzo del año en vigencia.

    br

    .row.mx-0.recuadro1

        .col-12.my-4

            img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 100%")

        .col-12

            p
                b Cancelación del Registro Nacional de Turismo
            
            p Los motivos por los cuales se puede realizar la cancelación del Registro Nacional de Turismo, son los siguientes:

            ul
                li
                    b Por decisión de la Superintendencia de Industria y Comercio.
                li
                    b Por inactividad.
                li
                    b Por solicitud del prestador. 
                li
                    b Cuando el prestador de servicios turísticos no renueve durante dos periodos.

    br#fondos

    .header-ecored.subtitulo-guion.mt-5

        h2 4.2 Fondos de promoción

    .row.mx-0
        
        .col-12

            p Cuando se habla de fondos de promoción turística, se hace énfasis en las entidades encargadas de ayudar al crecimiento de las empresas que prestan este tipo de servicio y a promocionar el turismo de una manera adecuada.

    .row.mx-0.my-4.text-center

        .col-12

            img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 100%")

    br#entidades

    .header-ecored.subtitulo-guion.mt-5

        h2 4.3 Entidades adscritas y vinculadas

    .row.mx-0

        .col-12

            #accordionExample.accordion

                .card
                    #headingOne.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Bancoldex
                    #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p Bancóldex es un establecimiento de crédito bancario que opera como un “banco de segundo piso”, cuyo objeto principal es el de financiar las necesidades de capital de trabajo y activos fijos de proyectos o empresas viables de todos los tamaños y sectores de la economía colombiana. (Bancoldex, 2018)

        
                .card
                    #headingTwo.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Fondo Nacional de Garantías (FNG)
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p El Fondo Nacional de Garantías S.A., es la entidad a través de la cual el Gobierno Nacional, busca facilitar el acceso al crédito para las micro, pequeñas y medianas empresas, mediante el otorgamiento de garantías. Adicionalmente, el FNG respalda préstamos destinados a financiar la adquisición de viviendas de interés social. El FNG, no garantiza créditos destinados al sector agropecuario, por cuanto para éstos existe el respaldo del Fondo Agropecuario de Garantías, administrado por Finagro. Para acceder a la garantía del FNG, la empresa o persona interesada debe acudir al intermediario financiero ante el cual vaya a solicitar el crédito, donde se le brindará la información requerida y se atenderán todos los trámites relacionados con la garantía. Para información adicional, puede acudir al FNG o a los Fondos R​egionales de Garantías. (Fondo Nacional de Garantías, s.f.)

                
                .card
                    #headingThree.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Antecedentes
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row

                                p Es la contextualización que servirá para que el lector tenga conocimiento de qué se trata el informe respectivo, ¿qué tipo de hechos se desea esclarecer?, ¿desde cuándo se presenta?, ¿cómo afectan la realidad?, etc.

                .card
                    #headingFour.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Procolombia
                    #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p PROCOLOMBIA es la entidad encargada de la promoción del turismo internacional, la inversión extranjera y las exportaciones no tradicionales en Colombia.
                                    p A través de la red nacional e internacional de oficinas, ofrece apoyo y asesoría integral a los clientes, mediante servicios o instrumentos dirigidos a facilitar el diseño y ejecución de su estrategia de internacionalización, que busca la generación, desarrollo y cierre de oportunidades de negocios. (Procolombia, s.f.)

                .card
                    #headingFive.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Artesanías de Colombia
                    #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p Tiene como objetivo principal incrementar la participación de los artesanos en el sector productivo nacional, logrando un desarrollo integral sostenido que se manifieste en el mejoramiento del nivel de vida, que se refleje tanto en un índice creciente de ingresos y espacios de participación social, como en una mayor productividad y posicionamiento de la artesanía en los mercados locales, regionales, nacionales e internacionales. (Artesanías de Colombia, s.f.)

                .card
                    #headingSix.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Fiduciaria Colombiana de Comercio Exterior S.A.
                    #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p Fiduciaria Colombiana de Comercio Exterior S.A., es una sociedad de economía mixta adscrita al Ministerio de Comercio Industria y Turismo, y filial del Banco de Comercio Exterior Bancoldex.
                                    p A través de sus servicios financieros, se busca apoyar al sector empresarial en el crecimiento de sus negocios y contribuir al desarrollo del país. De igual manera, se consideran un aliado para las personas naturales y jurídicas en la inversión y ahorro por medio de Fondos de Inversión Colectiva.
                                    p La Fiduciaria es vigilada por la Superintendencia Financiera de Colombia, la Contraloría General de la República y calificada por Fitch Ratings. (Fiducoldex, s.f.)

                .card
                    #headingSeven.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Superintendencia de Industria y Comercio
                    #collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p La Superintendencia de Industria y Comercio es un organismo técnico, de carácter administrativo, adscrito al Ministerio de Comercio Industria y Turismo, cuya actividad está orientada a fortalecer los procesos de desarrollo empresarial y los niveles de satisfacción del consumo colombiano.
                                    p En ese sentido, la Superintendencia de Industria y Comercio cuenta con específicas funciones para salvaguardar los derechos de los consumidores, proteger la libre competencia y ejercer como Autoridad Nacional de Propiedad Industrial.
                                    p También cuenta con funciones para  vigilar el cumplimiento de las normas relacionadas con la administración de datos personales, reglamentos técnicos, metrología legal y por último, vigilar las Cámaras de Comercio.
                                    p En materia de protección al consumidor, la Ley 1480 de 2011 (Estatuto de Protección al Consumidor) asignó a la Superintendencia de Industria y Comercio facultades tanto administrativas como jurisdiccionales.  (Red Nacional de Protección al Consumidor, s.f.)
                .card
                    #headingEight.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                                p(style="color: #FA803F; font-size: 20px").mb-0 iNNpulsa Colombia
                    #collapseEight.collapse(aria-labelledby='headingEight', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p Es una Unidad de Gestión de Crecimiento Empresarial del Gobierno Nacional, creada en febrero de 2012, para promover el emprendimiento, la innovación y la productividad como ejes para el desarrollo empresarial y la competitividad de Colombia. 
                                    p  Trabajan para forjar las empresas del futuro empresas innovadoras y productivas que son fuente de riqueza y prosperidad para el país. (iNNpulsa Colombia, s.f.)
                .card
                    #headingNine.card-header(style="background-color: #FFFFFF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                                p(style="color: #FA803F; font-size: 20px").mb-0 Viceministerio de Turismo
                    #collapseNine.collapse(aria-labelledby='headingNine', data-parent='#accordionExample', style="background-color: #FFFFFF")
                        .card-body

                            .row
                                .col-12
                                    p El Viceministerio de Turismo contempla en la normatividad vigente algunas funciones propias de su labor, las cuales contribuyen y regulan la actividad turística nacional con incidencia regional y local, la importancia de conocer estas funciones radica en la orientación y conocimiento que cualquier persona que se desempeñe con actividades turísticas pueda obtener, así como diferenciar a que ente gubernamental puede acudir o direccionar sus consultas.

    br#funciones

    .header-ecored.subtitulo-guion.mt-5

        h2 4.4 Funciones de carácter del Viceministerio de Turismo

    .row.mx-0

        .col-12

            p Las funciones de carácter del Viceministerio de Turismo, según el Decreto 2785 de 2006 son: 
    
    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img56.png", style="max-width: 50%")

        .col-11

            p  Concertar, ejecutar y evaluar la política turística, así como los planes y programas derivados de ésta, en articulación con las entidades competentes de los sectores privado y público del sector, con el fin de mejorar la competitividad y sostenibilidad de los productos y destinos turísticos, y promover el turismo doméstico y receptivo.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img38.png", style="max-width: 50%")

        .col-11

            p  Decidir en segunda instancia, sobre las quejas presentadas por incumplimiento de servicios por parte de los prestadores de servicios turísticos y demás infracciones contempladas en las normas legales vigentes sobre la materia.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img39.png", style="max-width: 50%")

        .col-11

            p  Ejercer la coordinación necesaria para llevar el Registro Nacional de Turismo, el Sistema de Información Turística y lo relacionado con la certificación de la prestación de servicios hoteleros en establecimientos nuevos, remodelados y ampliados para acceder a la exención tributaria, de acuerdo con lo previsto en el artículo 18 de la Ley 788 de 2002; que adicionó el artículo 207-2 del Estatuto Tributario, reglamentado por los artículos 5°, 7° y 9° del Decreto 2755 de 2003 y demás normas que lo modifiquen.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img40.png", style="max-width: 50%")

        .col-11

            p  Velar por la aplicación del Plan de Desarrollo Administrativo específico del área de su competencia.

    br#objetivos

    .header-ecored.subtitulo-guion.mt-5

        h2 4.5 Objetivos y funciones de la estructura de los órganos de regulación en turismo

    .row.mx-0

        .col-12

            p Para comprender la estructura que regula la actividad turística, es necesaria la identificación de entes especiales que son los actores clave en la regulación de la actividad turística en Colombia.

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b A continuación se presenta la razón de ser de cada uno de ellos y el rol que desempeñan dentro de la legislación turística colombiana.
        
    br
    br

    .row.mx-0.text-center

        .col-12.p-0

                p
                    b Estructura de regulación de la actividad turística. 
                    |(entes y competencias)

    br

    .row.mx-0(style="background-image: url('assets/images/pages/img11.svg'); background-size: contain").justify-content-center  

        .col-8.my-5

            #carouselExampleIndicators.carousel.slide(data-ride='carousel').recuadro4
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                .carousel-inner
                    .carousel-item.active
                        .row
                            .col-12
                                p
                                    b El consejo superior de turismo
                                p Constituirá el máximo organismo consultivo del Gobierno Nacional en materia turística. Desarrollará en la órbita de su competencia las funciones previstas en el artículo 16 del Decreto 1050 de 1968 y en la presente ley.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Consejo superior de la microempresa y de la pequeña y mediana empresa.
                                p Los empresarios del sector turístico estarán representados en el Consejo Superior de Microempresa y en el Consejo Superior de Pequeña y Mediana Empresa, creados por el artículo 5° del Decreto-Ley 210 de 2003, por un representante de los gremios pertenecientes al sector turístico.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Los consejos de seguridad turística
                                p Se encuentran dentro de la estrategia “Red de seguridad turística” contemplada en el Plan Estratégico de Seguridad Turística, documento elaborado por el Ministerio de Desarrollo Económico (hoy Ministerio de Comercio, Industria y Turismo) y la Policía Nacional.
                                p Incrementar la seguridad para los usuarios de servicios turísticos, mediante el establecimiento de estrategias, a partir de las cuales la policía de turismo, en coordinación con el ministerio y las entidades territoriales, implementan proyectos y actividades que promuevan   medidas  de  control y prevención dirigidas a los prestadores de servicios turísticos, vigilancia y protección de los atractivos turísticos e información y orientación al turista.
                    .carousel-item
                        .row
                            .col-12
                                p
                                    b Consejo consultivo de la industria turística
                                p Asesorar al Ministerio de Comercio,   Industria   y   Turismo en la concepción, definición y formulación de las políticas, programas y proyectos de desarrollo y competitividad del turismo.
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

    br#prestadores

    .header-ecored.subtitulo-guion.mt-5

        h2 4.6 Prestadores de servicios turísticos que deben efectuar el Registro Nacional de Turismo

    .row.mx-0

        .col-12

            p Según el artículo 62 de la Ley 300 de 1996, modificado por el artículo 12, de la Ley 1101 de 2006, los prestadores de servicios turísticos que se deben registrar son los siguientes:

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img22.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los hoteles, centros vacacionales, campamentos, viviendas turísticas y otros tipos de hospedaje no permanente, excluidos los establecimientos que prestan el servicio de alojamiento por horas. Decreto  2590 de 2009.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img23.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Las agencias de viajes y turismo, agencias mayoristas y las agencias operadoras. Decreto 502 de 1997 y Decreto 53 de 2002.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img24.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los guías de turismo. Decreto 503 de 1997 y Decreto 1825 de 2001.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img25.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los operadores profesionales de congresos, ferias y convenciones. Decreto 1824 de 2001.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img26.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los arrendadores de vehículos para turismo nacional e internacional. Decreto 174 de 2001 y Resolución No. 161 de 2012 del Ministerio de Comercio, Industria y Turismo.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img27.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los establecimientos de gastronomía y bares, cuyos ingresos operacionales netos sean superiores a los 500 salarios mínimos legales mensuales vigentes. Decreto 2395 de 1999, Resoluciones No. 347 y 348 del Ministerio de Comercio, Industria y Turismo.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img28.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Las empresas de transporte terrestre automotor especializado, las empresas operadoras de chivas y de otros vehículos automotores que presten servicio de transporte turístico. Decreto 174 de 2001.

    br

    .row.align-items-center

        .col-2

            img.img-fluid(src="assets/images/pages/img29.png", style="margin-left: 64%; position: inherit; z-index: 2; max-width: 80%")

        .col-10.recuadro2

            p.ml-4 Los parques temáticos. Artículo 20 de la Ley 1225 de 2008. (Cámara de Comercio de Armenia y el Quindío, s.f.)

    br

    .row.mx-0

        .col-12

            ul
                li Las oficinas de representaciones turísticas. Artículo 25 del Decreto 504 de 1997, modificado por el artículo 7 Decreto 2074 de 2003.
                li Los usuarios operadores, desarrolladores e industriales en zonas francas turísticas. Decreto 2131 de 1991.
                li Las empresas promotoras y comercializadoras de proyectos de tiempo compartido y multipropiedad. Decreto 1076 de 1997.
                li Los concesionarios de servicios turísticos en parque.
                li Los demás que el Ministerio de Comercio, Industria y Turismo determine.