.container#derechos

    .header-ecored

        h1 5. Derechos y deberes del turista

    .row.mx-0
        
        .col-12

            p Antes de realizar la contratación de un servicio turístico se debe de tener en cuenta lo siguiente, según el Ministerio de Comercio, Industria y Turismo (s.f.): 

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img30.png", style="max-width: 80%")
    
    br

    .row.mx-0.recuadro1

        .col-12

            p
                b A la hora de elegir un prestador de servicios turísticos formal e inscrito en el RNT, como turista se contribuye a:
            
            ul
                li Garantizar que se reciben los servicios por los que se pagó y proteger los derechos como turista.
                li Promover la formalidad en el sector. 
                li Impulsar la generación de empleo. 

    br

    .row.mx-0.recuadro1

        .col-12

            p
                b Si usted como turista identifica que uno de los prestadores de servicios turísticos no cuenta con el RNT o este no está vigente debe de:
            
            ul
                li Avisar a la policía de turismo.
                li Avisar a Alcaldías distritales o municipales.
                li Avisar a un Grupo de protección al turista, ministerio de Comercio, industria y turismo.
    
    br

    .row.mx-0

        .col-12.p-0

            br

            img.img-fluid(src="assets/images/pages/img31.png", style="max-width: 100%")

        .col-12

            br

            ul
                li Recibir los servicios por él contratados en los términos ofrecidos y pactados. Esto quiere decir que el prestador de servicios turísticos debe cumplir a cabalidad con el contrato y brindar el servicio en los términos que fueron acordados. Por ejemplo: si se trata de una agencia de viajes que vende un paquete turístico en el que se incluía alimentación completa, el turista tendrá derecho a ese tipo de alimentación.
                li Recibir una información veraz sobre los servicios que se ofrecen y saber cuáles estarán incluidos y excluidos en el contrato que él realizará.
                li Conocer cuáles serán las obligaciones que adquiere con el prestador de servicios turísticos y el alcance de tales obligaciones.
                li Recibir a su elección, otro servicio de la misma calidad, o el reembolso o compensación por el servicio incumplido, cuando se incumplan de manera total o parcial los servicios ofrecidos o pactados, o por sobreventa. 

    br

    .row.mx-0

        .col-12.p-0

            br

            img.img-fluid(src="assets/images/pages/img32.png", style="max-width: 100%")

        .col-12

            br

            ul
                li Cumplir a cabalidad las obligaciones contraídas en virtud del contrato con el prestador de servicios turísticos.
                li Presentarse y utilizar los servicios pactados.
                li Pagar el 20% de la totalidad del precio o tarifa establecida cuando no se presente a hacer uso de los servicios contratados. En caso de que el prestador de servicios turísticos le haya pedido un anticipo, no será necesario hacer ese pago pues ese prestador tendrá derecho a quedarse con el anticipo si así lo hubiesen pactado.
                li Dar un trato justo y amable al prestador de servicios turísticos y al personal que le esté brindando el servicio. (Giraldo, C. M., Restrepo, O. C., Heredia, V. y Arroyave, E., 2014)

br#marco

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.1 Marco Institucional

    .row.mx-0
        
        .col-12

            p Para entender, cómo es la organización del sector turístico de cada región y quiénes lo conforman, es de vital importancia que se identifiquen cuáles son las políticas de turismo, planes de desarrollo y normativas. Para tal fin, es indispensable dividir la actividad turística en dos: la primera, entender su parte pública, quiénes la conforman, cuáles intervienen y quiénes controlan el sector. La segunda, entender cómo se conforman las entidades privadas, las cuales están orientadas a realizar controles a las empresas que hacen parte de la actividad. 

br#estructura

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.2 Estructura del sector turismo

    .row.mx-0
        
        .col-12

            p El turismo en Colombia se encuentra regido por varias normas que lo reglamentan:
            p La Ley 300 de 1996, conocida como Ley General de Turismo, crea y organiza el Viceministerio de Turismo, adscrito al Ministerio de Comercio, Industria y Turismo.
            p La Ley 489 de 1998, que no es una norma directamente para la gestión del turismo, establece disposiciones sobre la organización y el funcionamiento de las entidades del orden nacional, se toma como un referente porque le da especial relevancia al tema de descentralización, desconcentración y delegación de funciones en las entidades territoriales.
    
    br
        
    .row.mx-0

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b Estructura del Sector comercio, industria y turismo
        
    br
    br

    .row.mx-0

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img33.png", style="max-width: 100%")

    br
    br
        
    .row.mx-0

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b Organigrama del Ministerio de Industria, Comercio y Turismo
        
    br
    br

    .row.mx-0

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img34.png", style="max-width: 100%")
    
    br
    br

    .row.mx-0

        .col-12

            p
                b En la estructura del sector y el organigrama del ministerio, se observan los siguientes componentes importantes:

            br

            ul
                li El Ministerio de Comercio, Industria y Turismo, es una entidad centralizada del sector de comercio, industria y turismo. 
                li El ministerio, en cabeza del ministro, tiene a su cargo tres viceministerios, entre ellos. el Viceministerio de Turismo que, a su vez, cuenta con dos direcciones: Dirección de análisis sectorial y Dirección de calidad y desarrollo sostenible del turismo.

        br

        .col-12.text-center

            p
                b Conformación del sector turismo en Colombia

        br

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img35.png", style="max-width: 100%")

        .col-12.text-center.mt-5

            img.img-fluid(src="assets/images/pages/img36.png", style="max-width: 100%")

br#normas1

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.3 Normas relevantes sobre actividad turística

    .row.mx-0
        
        .col-12

            ul
                li Ley 300 de 1996. Ley General de Turismo.
                li Ley 1101 de 2006. Modifica la Ley 300.
                li Ley 1429 de 2010. Formalización y Generación de empleo.
                li Decreto-Ley 019 de 2012. Por el cual se dictan normas para suprimir o reformar regulaciones, procedimientos y trámites innecesarios.
                li Ley 1558 de 2012. Modifica la Ley 300.
                li Decreto 502 de 1997. Por el cual se definen la naturaleza y funciones de cada uno de los tipos de agencias de viajes.
                li Decreto 504 de 1997. Por el cual se reglamenta el Registro Nacional de Turismo.
                li Decreto 1075 de 1997. Por el cual se señala el procedimiento para la imposición de sanciones a los prestadores de servicios turísticos.
                li Decreto 1076 de 1997. Por el cual se reglamenta el sistema de tiempo compartido turístico.
                li Decreto 2074 de 2003. Por el cual se modifica el Decreto 504 de 1997.
                li Decreto 2590 de 2009. Por el cual se reglamentan las Leyes 300 de 1996 y 1101 de 2006.
                li Decreto 2438 de 2010. Por el cual se dictan unas disposiciones relacionadas con la responsabilidad de las agencias de viajes.
                li Resolución 4896 de 2011. Por la cual se establecen los requisitos para la actualización de la inscripción de los guías de turismo en el Registro Nacional de Turismo.
                li Resolución 0161 de 2012. Por la cual se establecen los requisitos de inscripción en el Registro Nacional de Turismo de los arrendadores de autos.

        br

        .col-12.recuadro1.mt-4

            p.m-0 Las anteriores normas pueden ser consultadas en Normatividad Turística, en la página del Ministerio de Comercio, Industria y Turismo.

br#normas2

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.4 Normas relevantes sobre actividad turística

    .row.mx-0
        
        .col-12

            p La actividad turística en Colombia, se encuentra soportada para su funcionamiento y regulación en normas de ordenamiento, entre las cuales se destacan: la Constitución Política de Colombia y las siguientes leyes: del Medio Ambiente, Orgánica del Plan de Desarrollo, Desarrollo Territorial, Cultura, General de Turismo y el estatuto de prevención de turismo sexual con menores.
        
        br

        .col-12.p-0

            .header-arrow

                p.text-white.m-0.text-center
                    b A continuación, se citan los aspectos contemplados en la Constitución Política de Colombia (1991), que guardan relación con la actividad turística en la medida que coadyuvan a impulsar el desarrollo de los destinos turísticos y conservar los bienes de uso público y patrimonio.
    
    .row.mx-0(style="background-image: url('assets/images/pages/img3.svg'); background-size: contain").justify-content-center.mt-5

        .col-8.my-5

            #carouselExampleIndicators.carousel.slide(data-ride='carousel').recuadro3
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators', data-slide-to='4')
                    li(data-target='#carouselExampleIndicators', data-slide-to='5')
                    li(data-target='#carouselExampleIndicators', data-slide-to='6')
                .carousel-inner
                    .carousel-item.active
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img12.svg")
                            .col-12.mt-3
                                p Reconocimiento de las actividades del tiempo libre, como derecho de todas las personas. (Art. 52) 
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img13.svg")
                            .col-12.mt-3
                                p Obligación del estado y de las personas de proteger las riquezas naturales y culturales. (Art. 8 y 95)
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img14.svg")
                            .col-12.mt-3
                                p Definen la educación como función social y desde allí el acceso a los bienes y valores de la cultura, la promoción y el fomento de la educación como deber del estado y la inclusión de la educación en los planes de desarrollo económico y social de las entidades territoriales. (Art. 67, 70 y 71)
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img15.svg")
                            .col-12.mt-3
                                p Protección de los bienes de uso público y patrimonio arqueológico los cuales son inalienables e inembargables. Es importante por cuanto se relaciona con la actividad turística en el aspecto que permite que los bienes enunciados los puedan disfrutar los turistas, mediante actividades permitidas y controladas para evitar su deterioro. (Art. 63 y 72)
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img16.svg")
                            .col-12.mt-3
                                p Plantea indirectamente desarrollo sostenible cuando garantiza el derecho de todas las personas a gozar de un ambiente sano y en la obligación del Estado de proteger la diversidad e integridad del ambiente y conservar las áreas de especial importancia ecológica prevenir los factores que ocasionen riesgos. (Art. 79 y 80)
     
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img17.svg")
                            .col-12.mt-3
                                p Protección y destinación al uso común del espacio público, el cual prevalece sobre el interés particular, al tiempo que determina la participación de las entidades públicas en la apoya la calidad en los destinos turísticos. (Art. 82)
                    .carousel-item
                        .row
                            .col-12.text-center
                                img.img-fluid(src="assets/images/pages/img18.svg")
                            .col-12.mt-3
                                p Facultad a las asambleas departamentales para expedir disposiciones para la planeación, desarrollo económico y social del turismo, constituye el marco para dirigir el desarrollo turístico con sentido económico y social, es decir en armonía con estos campos. (Art. 300)
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

br#ley1

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.5 Ley del Medio Ambiente (Ley 99 de 1993)

    .row.mx-0
        
        .col-12

            p El estudio de la Ley del Medio Ambiente, se hace necesario dado las alternativas de diseño, estructuración, evaluación y presentación de proyectos de ecoturismo.
            p De otro lado, la ley del medio ambiente organiza el sistema nacional ambiental, y define los siguientes aspectos como base para la política ambiental. (Artículo 1)

            br

            ul
                li Orientar el proceso de desarrollo por los principios del desarrollo sostenible Declaración de Río de Janeiro de 1992.
                li Proteger la biodiversidad -patrimonio nacional y de la humanidad, las fuentes de agua páramos, subpáramos, nacimientos, zonas de recarga de acuíferos y el paisaje como patrimonio común. 
                li Orientar las políticas poblacionales hacia el derecho de los seres humanos a una vida saludable y productiva en armonía con la naturaleza.
                li Prioridad del uso de los recursos hídricos para el consumo humano.
                li Prevención de desastres será materia de interés colectivo y sus medidas para evitarlo o mitigarlos serán obligatorias.
                li Estudios de impacto ambiental base en la toma de decisiones en la construcción de obras y actividades que afecten el ambiente.
                li Manejo ambiental descentralizado, participativo y democrático.
                li Instituciones ambientales públicas considerarán criterios de manejo integral del medio ambiente y relación con procesos de planificación económica, social y física. (Ley del Medio Ambiente, 1993)

    br

    .row.mx-0

        .col-12.px-5

            img.img-fluid(src="assets/images/pages/img37.png", style="max-width: 100%")

        .col-12.px-5

            .header-arrow

                p.text-white.m-0.text-center
                    b Funciones del Ministerio del Medio Ambiente
    
    br

    .row.mx-0.align-item-center.mt-4

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 50%").mt-1

        .col-11

            p Diseñar y formular la política nacional en relación con el ambiente y los recursos naturales renovables, y establecer las reglas y criterios de ordenamiento ambiental de uso del territorio y de los mares adyacentes, para asegurar su conservación y el aprovechamiento sostenible de los recursos naturales renovables y del ambiente.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 50%").mt-1

        .col-11

            p Diseñar y regular las políticas públicas y las condiciones generales para el saneamiento del ambiente, y el uso, manejo, aprovechamiento, conservación, restauración y recuperación de los recursos naturales, a fin de impedir, reprimir, eliminar o mitigar el impacto de actividades contaminantes, deteriorantes o destructivas del entorno o del patrimonio natural, en todos los sectores económicos y productivos.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 50%").mt-1

        .col-11

            p Apoyar a los demás ministerios y entidades estatales, en la formulación de las políticas públicas, de competencia de los mismos, que tengan implicaciones de carácter ambiental y desarrollo sostenible y establecer los criterios ambientales que deben ser incorporados en esta formulación de las políticas sectoriales.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img10.svg", style="max-width: 50%").mt-1

        .col-11

            p Participar con el Ministerio de Relaciones Exteriores en la formulación de la política internacional en materia ambiental y definir con éste los instrumentos y procedimientos de cooperación, y representar al Gobierno Nacional en la ejecución de tratados y convenios internacionales sobre ambiente recursos naturales renovables y desarrollo sostenible.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img19.svg", style="max-width: 50%").mt-1

        .col-11

            p Orientar, en coordinación con el Sistema Nacional de Prevención y Atención de Desastres, las acciones tendientes a prevenir el riesgo ecológico.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img20.svg", style="max-width: 50%").mt-1

        .col-11

            p Preparar, con la asesoría del Departamento Nacional de Planeación, los planes, programas y proyectos que, en materia ambiental, o en relación con los recursos naturales renovables y el ordenamiento ambiental del territorio, deban incorporarse a los proyectos del Plan Nacional de Desarrollo y del Plan Nacional de Inversiones que el Gobierno someta a consideración del Congreso de la República.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img21.svg", style="max-width: 50%").mt-1

        .col-11

            p Evaluar los alcances y efectos económicos de los factores ambientales, su incorporación al valor de mercado de bienes y servicios, y su impacto sobre el desarrollo de la economía nacional y su sector externo; su costo en los proyectos de mediana y grande infraestructura, así como el costo económico del deterioro y de la conservación del medio ambiente y de los recursos naturales renovables.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img22.svg", style="max-width: 50%").mt-1

        .col-11

            p Realizar investigaciones, análisis y estudios económicos y fiscales en relación con los recursos presupuestales y financieros del sector de gestión ambiental, tales como: impuestos, tasas, contribuciones, derechos, multas e incentivos con él relacionados; y fijar el monto tarifario mínimo de las tasas por el uso y el aprovechamiento de los recursos naturales renovables, de conformidad con la ley.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img23.svg", style="max-width: 50%").mt-1

        .col-11

            p Dirigir y coordinar el proceso de planificación y la ejecución armónica de las actividades en materia ambiental de las entidades integrantes del Sistema Nacional Ambiental -SINA-, dirimir las discrepancias ocasionadas por el ejercicio de sus funciones y establecer criterios o adoptar decisiones cuando surjan conflictos entre ellas en relación con la aplicación de las normas o con las políticas relacionadas con el uso, manejo y aprovechamiento de los recursos naturales renovables o del ambiente.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img24.svg", style="max-width: 50%").mt-1

        .col-11

            p Ejercer la inspección y vigilancia sobre las corporaciones autónomas regionales, y ejercer discrecional y selectivamente, cuando las circunstancias lo ameriten, sobre los asuntos asignados a estas corporaciones la evaluación y control preventivo, actual o posterior, de los efectos del deterioro ambiental que puedan presentarse por la ejecución de actividades o proyectos de desarrollo, así como por la exploración, explotación, transporte, beneficio y utilización de los recursos naturales renovables y no renovables, y ordenar al organismo nacional competente para la expedición de licencias ambientales a cargo del Ministerio de Ambiente y Desarrollo Sostenible, la suspensión de los trabajos o actividades cuando a ello hubiese lugar.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img25.svg", style="max-width: 50%").mt-1

        .col-11

            p Coordinar, promover y orientar las acciones de investigación sobre el ambiente y los recursos naturales renovables y sobre modelos alternativos de desarrollo sostenible.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img26.svg", style="max-width: 50%").mt-1

        .col-11

            p Establecer el Sistema de Información Ambiental, organizar el inventario de la biodiversidad y de los recursos genéticos nacionales; y administrar el Fondo Nacional Ambiental (FONAM) y sus subcuentas.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img27.svg", style="max-width: 50%").mt-1

        .col-11

            p Diseñar y formular la política, planes, programas y proyectos;  establecer los criterios, directrices, orientaciones y lineamientos en materia de áreas protegidas; formular la política en materia del Sistema de Parques Nacionales Naturales.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img28.svg", style="max-width: 50%").mt-1

        .col-11

            p Reservar y alinderar las áreas que integran el Sistema de Parques Nacionales Naturales; declarar, reservar, alinderar, realinderar, sustraer, integrar o recategorizar las áreas de reserva forestal nacionales, reglamentar su uso y funcionamiento; y declarar y sustraer Distritos Nacionales de Manejo Integrado. Las corporaciones autónomas regionales en desarrollo de su competencia de administrar las reservas forestales nacionales, de conformidad con lo dispuesto en el artículo 31 de la Ley 99 de 1993, realizarán los estudios técnicos, ambientales y socioeconómicos para los fines previstos en el presente numeral, con base en los lineamientos establecidos por este ministerio.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img29.svg", style="max-width: 50%").mt-1

        .col-11

            p Elaborar los términos de referencia para la realización de los estudios con base en los cuales las autoridades ambientales declararán, reservarán, alinderarán, realinderarán, sustraerán, integrarán o recategorizarán, las reservas forestales regionales y para la delimitación de los ecosistemas de páramo y humedales sin requerir la adopción de los mismos por parte del ministerio.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img30.svg", style="max-width: 50%").mt-1

        .col-11

            p Expedir los actos administrativos para la delimitación de los páramos.

    .row.mx-0.align-item-center.mt-3

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img31.svg", style="max-width: 50%").mt-1

        .col-11

            p Adquirir, en los casos expresamente definidos en la Ley 99 de 1993, los bienes de propiedad privada y los patrimoniales de las entidades de derecho público; adelantar ante la autoridad competente la expropiación de bienes por razones de utilidad pública o interés social definidas por la ley, e imponer las servidumbres a que hubiese lugar.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img32.svg", style="max-width: 50%").mt-1

        .col-11

            p Constituir con otras personas jurídicas de derecho público o privado, asociaciones, fundaciones o entidades para la conservación, manejo, administración y gestión de la biodiversidad, promoción y comercialización de bienes y servicios ambientales, velando por la protección del patrimonio natural del país.

    .row.mx-0.align-item-center

        .col-1.text-right

            img.img-fluid(src="assets/images/pages/img33.svg", style="max-width: 50%").mt-1

        .col-11

            p Las demás señaladas en las leyes 99 de 1993 y 388 de 1997 que no resulten contrarias a lo dispuesto en el presente decreto. (MinAmbiente, 2019)

br#normatividad

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.6 Normatividad

    .row.mx-0
        
        .col-12

            p
                b Ley Orgánica del Plan de Desarrollo (Ley 152 de 1994)

            br

            p Se requiere su aplicación cuando se presentan proyectos con el fin de identificar las estrategias de desarrollo y programas de planificación, fomento y promoción de una región. Se tiene como referente para la elaboración de planes de desarrollo turístico. 

            br

            p
                b Las entidades territoriales elaborarán y adoptarán de manera concertada entre ellas y el Gobierno Nacional, planes de desarrollo, con el fin de asegurar el uso eficiente de los recursos.

            br

            p El Plan Nacional de Desarrollo debe contener una parte general y el plan de inversiones de las entidades públicas del orden nacional. En la parte general se incluyen los propósitos y objetivos nacionales de largo plazo, las metas y prioridades de la acción estatal a mediano plazo y las estrategias y orientaciones generales de la política económica, social y ambiental que adoptará el Gobierno. El plan de inversiones públicas contendrá los presupuestos plurianuales de los principales programas y proyectos de inversión. (Ley de 152 de 1992, art. 339-344)

            br
            br

            p
                b Ley de Desarrollo Territorial (Ley 388 de 1997)
            
            br

            p Constituye una herramienta para dotar al Estado de un instrumento para guiar el ordenamiento territorial y promover el desarrollo socioeconómico de los municipios. Es indispensable para la elaboración de proyectos de inversión turística dado que en el Plan de Ordenamiento Territorial (POT) se organizan y clasifican las zonas de desarrollo de un territorio y es necesario consultar cual es el área que corresponde para la zonificación turística del destino.

            br

            p
                b Los municipios y departamentos deben seguir las indicaciones de esta ley para la formulación de los respectivos POT.

            br

            ul
                li Reconocimiento sobre la necesidad de incorporar el componente cultural y de establecer áreas, límites, tipo de actuaciones y tratamientos de conservación y manejo de centros históricos; también establece el reconocimiento de compensaciones por la carga derivada del ordenamiento. (Ley 388 de 1997, art. 10, 11, 13, 15 y 48) 
            
            br
            br

            p
                b Señalamiento y medidas entre otras de las áreas para la protección del medio.

            br

            ul
                li Sanciones en las zonas de tratamiento de conservación sobre la reconstrucción de inmuebles de conservación. (Ley 388 de 1997, art. 48)
                li Adquisición de inmuebles por enajenación voluntaria y expropiación judicial que podrán destinarse entre otros a la ejecución de proyectos de turismo, y preservación del patrimonio cultural y natural y la aplicación del concepto de compensaciones. (Ley 388 de 1997, art. 58)
                li Restitución de elementos del espacio público. (Ley 388 de 1997, art. 107)

            br
            br

            p
                b Ley General de Turismo (Ley 300 de 1996)

            br

            p Es importante resaltar que la ley ha tenido dos reformas. La primera, mediante la Ley 1101 de 2006, cuyo fin es conseguir más recursos para la promoción y competitividad del sector, ampliando los sectores contribuyentes de la parafiscalidad, y creando el impuesto al turismo. La segunda con la Ley 1558 de 2012 la cual tiene por objeto el fomento, el desarrollo, la promoción, la competitividad del sector y la regulación de la actividad turística. La modificación más reciente, a la fecha, ha sido la Resolución 0405 de 31 de enero de 2014. Por la cual se reglamentan parcialmente los artículos 5º y 33 de la Ley 1558 de 2012.
            p Reconocimiento de la industria del turismo como industria de servicios, de libre iniciativa privada, libre acceso y libre competencia y esencial para el desarrollo social y económico del país y en especial para las entidades territoriales, regiones y provincias, por lo cual es la referencia legal más importante para la actividad turística. (Ley 300 de 1996, art. 1-2)

            br

            p
                b Principios:

            br

            ul
                li Concertación: Participación y acuerdo para asumir responsabilidades será de todos los agentes públicos y privados comprometidos.
                li Coordinación: Entidades públicas que integran el sector.
                li Descentralización: Responsabilidad de la actividad de los diferentes niveles del Estado según su ámbito de acción y competencia bajo los principios de coordinación, concurrencia y subsidiaridad.
                li Planeación:  Planes y actividades inscritas en el marco del plan sectorial de turismo y el plan nacional de desarrollo. Directrices específicas para los programas de turismo especializado. En los planes sectoriales territoriales la consideración de programas de ecoturismo será coordinada con las corporaciones autónomas regionales.
                li Protección del medio ambiente: Desarrollo del turismo en armonía con los principios del desarrollo sostenible.
                li Desarrollo social: el turismo es una actividad que permite la recreación y el aprovechamiento del tiempo libre derechos sociales consagrados en la constitución.
                li Libertad de empresa:  Las autoridades turísticas preservarán el mercado libre la competencia abierta.
                li Fomento: leal y la libertad de empresa dentro de un marco normativo de idoneidad, responsabilidad y relación equilibrada con los usuarios. 

            br
            br

            p
                b Estatuto para la prevención el turismo sexual con menores (Ley 679 de 2001)

            br

            p Realiza una advertencia a los prestadores de servicios turísticos para que se abstengan de ofrecer programas de promoción turística y planes de explotación sexual a menores. 
            p Artículo 16 y Resolución No. 0119 de 2002. “Elaboración de códigos de conducta para proteger a los menores de edad de toda forma de explotación y violencia sexual originada por turistas nacionales o extranjeros”.

br#referentes

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 5.7 Referentes normativos de la Ley General de Turismo para la gestión integral de los destinos turísticos

    .row.mx-0
        
        .col-12

            p La gestión del desarrollo turístico es responsabilidad de todos los prestadores de servicios que conforman la industria turística y, por ende, hacen parte de ésta, en cuanto a participación, planificación y aumento de los productos que se ofrecen al visitante con el fin de garantizar que dichos servicios van de la mano con la sostenibilidad e identidad cultural. Por eso es necesario, como aprendiz, conocer la normatividad vigente y la orientación en temas de reducción de impactos negativos que vulneren la capacidad de acogida a los destinos.

    .header-ecored.subtitulo-guion.mt-5

        h3 5.7.1 Instrumentos de la Ley 300 para la planificación, el desarrollo local de destino y productos turísticos
    
    .row.mx-0

        .col-12

            p El Ministerio de Comercio, Industria y Turismo deberá elaborar el Plan Sectorial de Turismo, acogiéndose para ello a lo establecido en la Ley 152 de 1994. De igual manera, las entidades territoriales podrán elaborar sus planes de desarrollo turístico, con la asistencia técnica del ministerio.
            p Zonas de desarrollo turístico prioritario, afectación prioritaria del uso del suelo a las actividades turísticas e inclusión en el respectivo Plan de Ordenamiento Territorial (POT) y compromiso de la entidad territorial para ejecutar programas de infraestructura y posibles exenciones tributarias locales. (Ley 300, art. 18)
            p Declaratoria de recurso turístico de utilidad pública. Dirigido a zonas urbanas o rurales, plazas, vías, monumentos, construcciones y otros para ser declarados recursos turísticos cuando éstos tengan ventajas comparativas destacadas y que puedan mejorar sus condiciones competitivas para que el bien se incorpore al mercado turístico. El recurso declarado tendrá como beneficio la promoción y puede formar parte del producto turístico y estar incluido en un proyecto promocional, posible de financiar por el Fondo de Promoción Turística. (Ley 300, art. 23 y 24) 

    br

    .row.mx-0

        .col-12

            .header-arrow

                p.text-white.m-0.text-center
                    b Según la Ley 300 (1996) los instrumentos para el desarrollo local son:

    br

    .row.mx-0.mt-4

        .col-12

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img1.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        strong Convenios de competitividad:
                    p.ml-4 El ministerio impulsa la firma de acuerdos de competitividad con las regiones con vocación turísticas a efectos de promover la competitividad de los destinos y la especialización del producto turístico.
            
            br

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img1.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        strong Peajes turísticos:
                    p.ml-4 Contribución a que los municipios pequeños cuenten con recursos para la preservación de su patrimonio cultural, se indicó la posibilidad de establecer peajes turísticos en los accesos respectivos. (Art. 25)

            br

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img1.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        strong Círculos Metropolitanos de Turismo:
                    p.ml-4 El círculo metropolitano turístico es una forma de integración de municipios que puede mejorar la prestación de servicios turísticos por cooperación o asociación. Este artículo es un referente para la organización de rutas, corredores y circuitos turísticos. (Art. 109)

            br

            .row.align-items-center

                .col-2

                    img.img-fluid(src="assets/images/pages/img1.svg", style="margin-left: 64%; position: inherit; z-index: 2")

                .col-10.recuadro2

                    p.ml-4
                        strong Banco de Proyectos:
                    p.ml-4 “Las Entidades Territoriales inscribirán ante el ministerio, para cada vigencia anual, los proyectos de promoción que requieran cofinanciación”. (Ley 1101 de 2006, art. 18)

    .header-ecored.subtitulo-guion.mt-5

        h3 5.7.2 Referentes de la Ley 300 para mejorar la calidad y competitividad de los servicios turísticos

    .row.mx-0
        
        .col-12

            p Entiéndase por prestador de servicios turísticos a toda persona natural o jurídica que habitualmente proporcione, intermedie o contrate directa o indirectamente con el turista, la prestación de los servicios a que se refiere esta ley y que se encuentre inscrito en el Registro Nacional de Turismo. (Art. 76)
        
            br
            br

            p
                b Fondo de Promoción Turística de Colombia

            br

            p
                b (Ley 300 de 1996 y Decretos No.505 de 1997, No.521 de 1998 No. 2394 de 1999). Hoy Fondo Nacional de Turismo-Fontur.
            
            br

            p “Es un patrimonio autónomo con personería jurídica y tendrá como función principal el recaudo, la administración y ejecución de sus recursos” 
                b (Fontur, s.f.).
            
            br

            ul
                li Aportantes de la contribución parafiscal para la promoción del turismo: Los hoteles y centros vacacionales. Las viviendas turísticas y otros tipos de hospedaje, restaurantes turísticos y agencias de viajes- del orden de 2,5 por mil del valor de sus ventas anuales y recursos fiscales del Presupuesto General de la Nación destinados a fortalecer la competitividad, la promoción y el mercadeo nacional e internacional del turismo. (Ley 1101 de 2006, art. 3)
                li Control y Sanciones: El ministerio podrá sancionar a los prestadores de servicios turísticos cuando incurran en presentar documentación falsa o adulterada al ministerio, utilicen publicidad engañosa a los turistas, incumplan los servicios ofrecidos a los turistas, incumplan las obligaciones frente a las autoridades de turismo. (Control y sanciones art. 69-72)

    .row

        .col-12.recuadro1.mt-4

            p.m-0 “Policía de Turismo. La policía de turismo dependerá jerárquicamente de la Policía Nacional y administrativamente del Ministerio de Comercio, Industria y Turismo” (Ley 300 de 1996, art. 73-75).

    .header-ecored.subtitulo-guion.mt-5

        h3 5.7.3 Normas Técnicas Sectoriales de Turismo en Colombia

    .row.mx-0

        .col-12

            p El Ministerio de Comercio, Industria y Turismo, según lo dispuesto en el artículo 69 de la Ley 300 de 1996, y la universidad Externado de Colombia han unido esfuerzos para conformar la Unidad Sectorial de Normalización en sostenibilidad turística tanto para destinos como para prestadores de servicios turísticos, con el fin de proponer normas que promuevan la cultura de la calidad y las prácticas sostenibles. Los destinos o prestadores que reúnan el 100 % de los requisitos podrán obtener la marca de calidad turística. (Norma Técnica Sectorial Colombiana-NTS-TS 001-1)

    .header-ecored.subtitulo-guion.mt-5

        h3 5.7.4 Certificado de Calidad Turística–Colombia

    .row.mx-0

        .col-12

            p El Certificado de Calidad Turística: es una marca de certificación reconocida por la Superintendencia de Industria y Comercio que puede portar una empresa o entidad que cumpla con los requisitos establecidos de conformidad con su reglamento de uso.
            p En este sentido, el Ministerio de Comercio Industria y Turismo ha reglamentado el uso de la marca de Certificación de Calidad Turística mediante la Resolución 0650 de 2008. (Ministerio de Industria, Comercio y Turismo, 2012)

    .header-ecored.subtitulo-guion.mt-5

        h3 5.7.5 Normas Técnicas Sectoriales

    .row.mx-0
        
        .col-12

            ul
                li Norma Técnica Sectorial Colombiana NTS-USNA. Para la industria gastronómica.
                li Norma Técnica Colombiana NTS-TC.  Para empresas tiempo compartido.
                li Norma Técnica Sectorial Colombiana NTSH. Para el Sector de alojamiento y hospedaje.
                li Norma Técnica Sectorial Colombiana NTS-TS.  Para el turismo sostenible.
                li Norma Técnica Sectorial NTS-GT. Para los guías de turismo.
                li Norma Técnica Sectorial NTS-AV. Para agencias de viajes. 

    .row

        .col-12.recuadro1.mt-4

            p.m-0 Las Normas Técnicas Sectoriales se pueden consultar en: Calidad Turística, Ministerio de Comercio, Industria y Turismo.