.container#codigo

    .header-ecored

        h1 6. Código de ética del turismo

    .row.mx-0
        
        .col-12

            p Todo profesional debe ejercer su función en uso de valores como la honradez junto a las habilidades para el buen desempeño, se debe caracterizar por su honestidad a toda prueba, incorruptibilidad, disciplina, espíritu colectivo, austeridad, modestia y estilo de vida hacia la búsqueda y construcción de una sociedad más justa, honesta y equilibrada.
            p Para el fortalecimiento de conocimiento debe regir la responsabilidad moral de un profesional. En tal sentido, la persona competente en el área de turismo adquiere deberes y principios éticos en el trabajo y ejercicio de la profesión, especialmente confluyen al servicio de los demás.

        .col-12.text-center

            img.img-fluid(src="assets/images/pages/img58.png", style="max-width: 100%")

br#codigo1

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 6.1 Código Ético Mundial del Turismo

    .row.mx-0
        
        .col-12

            p El Código Ético Mundial de Turismo inició su proceso en 1997 y culmina en 1999 en la Asamblea General de la Organización Mundial del Turismo (OMT) en Santiago de Chile, momento en el cual se adoptó.  Este código ha sido el marco de referencia para el desarrollo responsable y sostenible del turismo mundial;  instrumento para enfrentar los efectos negativos del turismo en el medio ambiente y en el patrimonio cultural, y para maximizar los beneficios para los residentes de los destinos turísticos.
            p Es el referente por excelencia para los destinos, los gobiernos, los tours operadores, los promotores, los agentes de viajes, los empleados y los propios viajeros, de igual manera es el marco que permite y da pautas de cómo solucionar litigios mediante la conciliación por intermedio de un Comité Mundial de Ética del Turismo, integrado por representantes de cada una de las regiones del mundo y de cada uno de los grandes grupos de agentes del sector turístico: gobiernos, sector privado, trabajadores y organizaciones no gubernamentales.
        
        .col-12.text-center.mt-4

            img.img-fluid(src="assets/images/pages/img59.png", style="max-width: 80%")

br#codigo2

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 6.2 Código de Conducta: servicios turísticos

    .row.mx-0
        
        .col-12

            p Este código establece los compromisos mínimos que deben adoptar y cumplir los prestadores de servicios turísticos. 
            p El Ministerio de Comercio, Industria y Turismo ha elaborado el Código de Conducta en cumplimiento del artículo 1º de la Ley 1336 de 2009, que de acuerdo con lo estipulado deberá ser adoptado y cumplido por todos los prestadores de servicios turísticos. Representantes de gremios del sector, hicieron aportes y recomendaciones a este código.

br#codigo3

.container

    .header-ecored.subtitulo-guion.mt-5

        h2 6.3 Código de ética agencias de viaje y turismo

    .row.mx-0
        
        .col-12

            p Los asociados a la Asociación de Agencias de Viajes y Turismo (Anato), han elaborado este código, teniendo en cuenta la ética y las normas para una buena prestación de los servicios turísticos.
            p La Anato, acogen su actividad como un servicio y colaboran con las autoridades para lograr un eficaz desarrollo del turismo, procurando que, el nombre de Colombia quede en alto en cualquier lugar del mundo y de esta manera traer beneficios al país.