.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Autoridad de turismo:
            | es la entidad o dependencia gubernamental, en el orden nacional, regional o local, competente para fijar la ejecución de la Política de turismo (Gómez, 2004).
        p
            strong.mr-2 Ética:
            | parte de la filosofía que estudia el bien y el mal relacionado con el comportamiento humano y con la moral.
        p 
            strong.mr-2 Excursionista:
            | son los no residentes que sin pernoctar ingresan al país con fines diferentes al tránsito.
        p 
            strong.mr-2 Industria turística:
            | conjunto de empresarios, tanto personas naturales como jurídicas, que participan en la planeación, organización, comercialización y distribución del producto turístico, así como los aspectos relacionados con la inversión necesaria para su desarrollo (Valencia,  2004).
        p
            strong.mr-2 Información turística:
            | acción que a nivel público o privado se ejerce para transmitir conocimientos por diferentes medios (prensa, folletos, radio, televisión, cine, internet, guías, entre otros) acerca de los atractivos turísticos naturales, culturales, folclóricos, transporte, alojamiento, alimentación y servicios, recreación y esparcimiento de un país, sus regiones o sus localidades. Se puede clasificar en promocional, de referencia e ilustrada.
        
        p
            strong.mr-2 Ley:
            | una ley es una regla o norma. Se trata de un factor constante e invariable.
        p 
            strong.mr-2 Norma sectorial:
            | es la legislación que regula un sector determinado.
        p 
            strong.mr-2 Para-hotelería:
            | son otras alternativas de alojamiento utilizadas por los turistas, que no pagan los impuestos de turismo como el IVA y por lo tanto afecta al sector, ya que se deja de percibir importantes ingresos por la informalidad de estas opciones. Eje: la renta de apartamento por bajo costo, que no tiene nada que ver con el turismo.
        p
            strong.mr-2 Turismo:
            | es el conjunto de actividades que realizan las personas – turistas durante sus viajes y estancias en lugares distintos al de su entorno habitual con fines de ocio, cultura, salud, eventos, convenciones ó negocios.

            p De acuerdo con el desplazamiento de los viajeros el turismo puede ser:

            ul
                li
                    b Turismo emisor: 
                    | el que hacen los nacionales en el exterior.
                li
                    b Turismo interno: 
                    | el realizado por los residentes en el territorio económico del país.
                li
                    b Turismo receptivo: 
                    | el realizado por los no residentes, en el territorio económico del país.
        
        p
            strong.mr-2 Turista: 
            | cualquier persona que viaja a un lugar diferente al de su residencia habitual, que se queda por lo menos una noche en el lugar que visita y cuyo motivo principal es el ocio, el descanso, ocupación del tiempo libre, peregrinaciones, salud, u otra diferente a una actividad en el lugar de destino.