.container#introduccion

    .header-ecored

        h1 Introducci칩n

    .row.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Uxnt2UGtojo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El turismo es uno de los factores que m치s mueve el mundo en diferentes niveles, por tal motivo, es de gran importancia que se encuentre regulado y reglamentado.

                            br

                            p El turismo, como cualquier actividad, est치 sujeto a normas y procedimientos prestablecidos, esto con el fin de garantizar a los usuarios que las empresas prestadoras de este tipo de servicios cuentan con los documentos requeridos y establecidos por la ley para su buena operaci칩n.