.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Decreto 2119 noviembre 15 de 2018
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Decreto_2119_Noviembre_15_de_2018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Definiciones y actividades prestadores de servicios turísticos
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Definiciones_y_Actividades_Prestadores_de_Servicios_Turisticos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Ley 300 de 1996
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Ley_300_de_1996.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Registro nacional de turismo (RNT)
                    td PDF
                    td 
                        a(href="media/documentos/MC_AA1_Registro_Nacional_de_Turismo_RNT.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar